<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link text-white" href="/" Match="NavLinkMatch.All">
                    <i class="bi bi-house me-1"></i>Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-white" href="/children">
                    <i class="bi bi-people me-1"></i>My Children
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-white" href="/pay">
                    <i class="bi bi-credit-card me-1"></i>Make a Payment
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-white" href="/history">
                    <i class="bi bi-clock-history me-1"></i>Transaction History
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-white" href="/settings">
                    <i class="bi bi-gear me-1"></i>Account Settings
                </NavLink>
            </li>
        </ul>
    </Authorized>
</AuthorizeView>
